<h1>Show Item</h1>

<ul>

  <li>
    <strong>Text:</strong>
    <%= @item.text %>
  </li>

  <li>
    <strong>Hidden:</strong>
    <%= @item.hidden %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.item_path(@conn, :edit, @item) %></span> |
<span><%= link "List", to: Routes.item_path(@conn, :index) %></span> |
<span><%= link "Another", to: Routes.item_path(@conn, :new) %></span>
